body {
    font-family: Arial, sans-serif;
}

.sheet {
    width: 8.5in;
    height: 11in;
    margin: 0.75 in auto; /* Center sheet horizontally for screen */
    display: grid;
    grid-template-columns: repeat(3, 2.75in);
    grid-template-rows: repeat(10, 1in);
    column-gap: 0.125in;
}

.label {
    /* width: 2.625in; */
    /* height: 1in; */
    padding: 0.125in;
    overflow: hidden;
    text-align: left;
    font-size: 12pt;
    line-height: 1.2;
    /* border: 1px solid grey;  Border for both screen and print */
}

.dummylabel {
    /* width: 2.625in; */
    height: 1.1in; 
    padding: 0.125in;
    overflow: hidden;
    text-align: left;
    font-size: 12pt;
    line-height: 1.2;
     border: 1px solid grey;  Border for both screen and print 
}

@media print {
    .sheet {
        margin: 0.5 in 0.125in; /* Adjust margins for full sheet alignment for print */
        
    }
}