---
title: 'Codecraft: What You Need to Know About the Art of Craft in Code if AI Is Writing All of It for You'
layout: base
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
  </header>
  <div class="post-content">
<p>Sure, you could just tell AI what to do and not worry about anything that's going on. But if you learn just a little bit about the art and craft of coding, you're more likely to end up with solutions that are sustainable and bring you happiness rather than headache.</p>

  </div>
</article>
