
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://datachefs.org/assets/css/style.css">
  <link rel="stylesheet" href="https://datachefs.org/assets/css/matoolkit.css">

  <title>{{ title }}</title>
</head>
<body>
<header class="site-header">
  <div class="wrapper">
    {% include "partials/nav.njk" %}
  </div>
</header>

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    {{ content | safe }}
  </div>
</main>

<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      &copy; 2025 Datachefs.org
    </div>
  </div>
</footer>
</body>
</html>
