---
title: Title
tags: [tag]
layout: example
---

{% exampleBlock %}

<!-- put your css, js etc in here -->

{% endexampleBlock %}

<section class="notes">
  <h2>How It Works</h2>
  <p>Put Your Notes in How On Works Here</p>
</section>
