---
title: Welcome to Operation Whimsy!
layout: base
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
  </header>
  <div class="main-image">
    <img src="{{ '/assets/images/cupcakes-reflection.jpg' | url }}" alt="Operation Whimsy">
  </div>
  <div class="post-content">
<p>Operation Whimsy is an experiment in playing with different bits and pieces of graphics, gameboard-like statuses, etc.  
The goal is to create a pattern library that can help inspire you when you are creating data related "stuff" <p>

<p><i>NOTE:  right now, this site is just my dumping ground for a bunch of notes and experiments.</i></p>

<p><a href="examples/skill-progress/">Skill progress</a> example</p>

<p>Operation Whimsy is a project of <a  href="http://datachefs.org/">Data Chiefs</a>

  </div>
</article>
